<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422674677683-c78r2n3uehb9g8l0aoesfk0j5um15tlj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422674677683-c78r2n3uehb9g8l0aoesfk0j5um15tlj</string>
	<key>API_KEY</key>
	<string>AIzaSyCBM4cE2CdAifqE7JNjOsw3_RP-WIv0zu0</string>
	<key>GCM_SENDER_ID</key>
	<string>422674677683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.n.s-0427-mr.fender.makeDatabaseApp</string>
	<key>PROJECT_ID</key>
	<string>mealpracticeapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mealpracticeapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422674677683:ios:bc18224963a9b8b11e55c6</string>
</dict>
</plist>